In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('student_data.csv')
df.head()

   day  no_of_students
0    1              25
1    2              30
2    3              18
3    4              35
4    5              22

In [3]:
def visualizer(x,y):
    visualize=plt.plot(x,y)
    return visualize

In [4]:
import pickle

In [5]:
with open('visualizer.pkl', 'wb') as file:
    pickle.dump(visualizer, file)